body{background-color:darkblue}
p{text-align: center;}
h1{text-align: center;}
h2{text-align: center;}
h3{text-align: center;}
b{color: red;}

#banner {
    width: 50%;
}
.container {
    text-align: center;
}
.principal {
    background-color: darkorange;
}